.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 20em;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-blue);
    box-sizing: border-box;
    transform: translateX(20em);
    z-index: 100;
    transition: transform 0.5s ease-in-out;
}

.shiftRight {
    transform: translateX(0);
}

.sidebarList {
    color: white;
    padding: 4em 2em;
}

.sidebarList li {
    list-style: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-bottom: 1px solid #f4f4f4;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.sidebarList li:hover {
    color: #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}

.socials {
    display: flex;
    gap: 1.5em;
    padding: 1.5em;
}

.socials a {
    width: 2.5em;
    height: 2.5em;
    background: #f4f4f4;
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;
}

.socials svg {
    width: 1em;
    height: 1em;
    fill: var(--main-blue--dark);
}

.socials a:hover {
    transform: translateY(-0.3em);
}

.socials a:hover svg {
    fill: #21c788;
}