.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.bgLayer {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/public/img/about-kosice.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
/* ⚠️ Зберігаємо fixed для десктопів, Android тощо */
    background-attachment: fixed;
}
  
/* ⚠️ Новий клас, який ми будемо додавати через JavaScript на iOS */
.bgLayer.ios-parallax {
    background-attachment: scroll;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.content {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 4em 2em;
    color: #f4f4f4;
    z-index: 2;
}

.content h2 {
    font-size: 2rem;
}

.content p {
    line-height: 2;
}