.header {
    position: sticky;
    top: 0;
    max-width: 100dvw;
    height: 12dvh;
    background-color: transparent;
    color: #f4f4f4;
    transition: all 0.8s ease;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1dvh 2em;
}

.scrolled {
    background-color: var(--main-blue);
    padding: 0.25dvh 2em;
}

.logo img {
    width: 7em;
    max-height: 9dvh;
}

.links {
    display: none;
    gap: 1.5em;
    margin: 0 auto;
}

.links p {
    font-size: 1.25rem;
    cursor: pointer;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 0.1em;
    display: inline-block;
}

.links p:hover {
    color: #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}

.buttonsRight {
    display: flex;
    align-items: center;
    gap: 1em;
}

.buttonsRight svg {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    fill: #f4f4f4;
}

.buttonsRight svg:hover {
    fill: #c5c5c5;
}

.socials {
    display: none;
    gap: 1em;
}

.socialsBtn {
    height: 1.5em;
}

.burgerIconContainer {
    visibility: visible;
    height: 1.5em;
}

.burgerIconContainer svg:hover {
    color: #c5c5c5;
}

.languageSwitcher {
    position: relative;
    height: 1.5em;
}

.languageSwitcher svg {
    position: relative;
    z-index: 4;
    transition: fill 0.5s ease-in-out;
}

.languageSwitcher:hover svg {
    fill: #000000;
    cursor: auto;
}

.languagesContainer {
    position: absolute;
    top: -0.5em;
    right: -0.75em;
    padding: 0.25em;
    background: #f4f4f4;
    border-radius: 10px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.3s ease,
    max-height 0.3s ease,
    visibility 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
}

.languageSwitcher:hover .languagesContainer {
    visibility: visible;
    opacity: 1;
    max-height: 10em;
    max-width: 6em;
}

.selectedContainer {
    height: 2em;
    background: #cacaca;
    border-radius: 25px;
    margin: 0 0.25em;
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);
}

.languageVariant {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    color: #000000;
    padding: 0.5em;
    margin: 0.25em;
    position: relative;
    z-index: 3;
}

.languageVariant p {
    margin: 0;
}

.languageVariant img {
    width: 1.5em;
    height: 1em;
}

@media (min-width: 1024px) {
    .links {
        display: flex;
    }

    .burgerIconContainer {
        visibility: hidden;
    }

    .socials {
        display: flex;
    }
}